output/
output-replaced/
pics/
pāli-course/
csv-for-anki/
csv-for-pic/
csv-all-pos/
csv-for-classes/
grammar-csv/
frequent-words-dps/
grams-combined/
csv-for-classes/
csv-for-examples/
original-csv-frequency/
__pycache__/wordtree.cpython-310.pyc
.vscode/settings.json
.~lock.frequent-words.ods#
absent-nid.csv
test*
test.txt
.~lock*#
